/*default settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
}

/*special fonts*/
.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.funnel-display  .fun-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*settings for the header*/
header{
    width: 100%;
    height: 10vh; 
    position: relative; 
    display: flex;
    flex-direction: column;
    background-color: #F52A56;
}

/*settings for the unordered list in the nav*/
.info-nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 3.2vh; 
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 8%; 
}

.info-nav li{
    font-size: 2rem; 
    font-family: 'Funnel Display';
}

.info-nav button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #2AF564;
    cursor: pointer;
    font-family: 'Funnel Display', 'sans-serif';
    font-size: 20px;
}

.info-nav li a{
    text-decoration: none;
    color: black;
}

.info-nav button:hover{
    background-color: #642AF5;
    /*color: #fafafa;*/
}

.info-nav a:hover{
    color: #fafafa;
}

/*settings for the first section, about me*/
.personal-section .personal-content{
    width: 100%;
    min-height: 10vh;
    height: 80vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    background-color: #2AF5CA;

    text-align: left;
}

.personal-section .personal-content .name{
    width: 75%;
    margin-top: 10%;
}

.personal-content .name h1{
    font-size: 6.5rem; 
    margin-bottom: 0.5vh; 
    padding-left: 5%;
    font-family: 'Barriecito', system-ui;
}

.personal-content .name h4{
    font-size: 1.8rem; 
    padding-left: 5%;
    font-family: 'Funnel Display', 'sans-serif';
}

.personal-content .description{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.personal-content .description p{
    font-size: 2.3rem; 
    padding-left: 5%;
    font-family: 'Funnel Display', 'sans-serif';
}

.personal-content .my-picture{
    width: 25%;
    align-self: flex-end;
    transform: translateY(-90%);
}

.personal-content .my-picture img{
    position: relative;
    border-radius: 50%;
    border: 5px solid black;
}

/*settings for the second section, about my work*/
.personal-section .work-content{
    width: 100%;
    min-height: 10vh;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #F52ABB;
}

.personal-section .work-content .my-work{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 12%;
    width: 75%;
    align-self: flex-end; 
}

.work-content .my-work h2{
    font-size: 6.5rem; 
    margin-bottom: 0.5vh;
    padding-right: 5%;
    font-family: 'Barriecito', system-ui;
    text-align: end;
}

.work-content .work-descriptions{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: flex-end;
}

.work-content .work-descriptions p{
    font-size: 2.3rem;
    margin-bottom: 0.5vh; 
    padding-right: 5%;
    font-family: 'Funnel Display', 'sans-serif';
}

.work-content .link-to-work{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.work-content .link-to-work p{
    font-size: 1.5rem; 
    padding-right: 5%;
    font-family: 'Funnel Display', 'sans-serif';
}

.work-content .work-pics{
    display: flex;
    width: 50%;
    align-self: flex-start;
    transform: translateY(-90%);
    padding-left: 3%
}

.work-content .work-pics #pict-1{
    position: relative;
    width: 50%;
    border-radius: 20px;
    border: 2px solid black;
}

/*settings for the footer section, ways to contact me*/
footer{
    width: 100%;
    position: relative;
    background-color: #F5642A;
    display: flex;
    flex-direction: column;
}

.my-contacts h2{
    font-family: 'Barriecito', system-ui;
    font-size: 3rem; 
    padding-left: 5%;
    margin-top: 3%; 
    text-align: left;
}

.my-contacts p{
    font-family: 'Funnel Display';
    font-size: 1.8rem; 
    padding-left: 5%;
}

.my-contacts ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40%; 
    text-align: center;
    justify-content: center;
    list-style: none;
}

.my-contacts li{
    font-size: 1.5rem;
}

.my-contacts button{
    padding: 20px; 
    border-radius: 50%;
    border: none;
    background-color: #2ABBF5;
    cursor: pointer;
    width: 100px;
}

.my-contacts button:hover{
    background-color: #F5C92A;
}

.my-contacts li a{
    text-decoration: none;
    color: black;
}

.my-contacts img{
    width: 90%;
}

.my-contacts li > p{
    font-size: 1.5rem; 
}

.my-contacts .contact-icons{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    padding-right: 5%;
    transform: translateY(-90%);
}
